<div class="main_container">
    <h1 class="title">
        Mon profil
    </h1>
    <p class="subtitle">Personnaliser mon CV et mes paramètres</p>

    <mat-tab-group style="margin-top: 3%;">
        <mat-tab label="Mon CV">

            <div class="row">

                <div class="col-lg-6">
                    <div>
                        <h1 class="section_title">Mes informations</h1>
                        <div class="row">
                            <div class="infos col-lg-4"
                                style="margin-left: 3%;height: 21rem; background-size: cover; background-position: center"
                                [style.background-image]="getBackground(user.picture_path)" (click)="nextStep()">

                            </div>
                            <div class="infos col-lg-7" style="margin-left: 3%; height: 21rem;">
                                <p class="title_entry">Prénom</p>
                                <p class="subtitle_entry">{{ user.name }}</p>
                                <hr>
                                <p class="title_entry">Nom</p>
                                <p class="subtitle_entry">{{ user.last_name }}</p>
                                <hr>
                                <p class="title_entry">Adresse email</p>
                                <p class="subtitle_entry">{{ user.mail }}</p>
                                <hr>
                                <p class="title_entry">Numéro de téléphone</p>
                                <p class="subtitle_entry">{{ user.phone }}</p>
                            </div>
                        </div>

                        <div ngfSelect multiple="1" class="mat-raised-button" style="margin-top: 3%;">
                            <input type="file" id="file" (change)="handleFile($event.target.files)">
                        </div>
                    </div>

                    <div>
                        <h1 class="section_title">A propos de moi</h1>
                        <div class="infos col-lg-12">
                            <p *ngIf="cv && cv != null && !display_form_description" style="margin-top: 3%">
                                {{ cv.cv.description }}</p>
                            <p *ngIf="(!cv || cv == null || !cv.cv.description || cv.cv.description == '') && !display_form_description"
                                style="margin-top: 3%"><i>Ajoutez
                                    une description pour vous présenter !</i></p>

                            <div *ngIf="display_form_description" class="form">

                                <mat-form-field style="width: 20rem">
                                    <input matInput [(ngModel)]="description">
                                    <mat-placeholder class="placeholder">Modifier ma description</mat-placeholder>
                                </mat-form-field>
                            </div>
                        </div>

                        <div style="text-align: center;">
                            <button mat-button class="connect_button" (click)="displayFormDescription()">+ Modifier ma
                                description</button>
                        </div>
                    </div>

                    <div>

                        <h1 class="section_title">Mes compétences</h1>

                        <div *ngIf="cv && cv.competences">
                            <div *ngFor="let competence of cv.competences" class="competence"
                                (click)="deleteCompetence(competence.id)">
                                <p>{{ competence.title }}</p>
                            </div>
                            <div class="competence">
                                <input (keydown)="onKeydown($event)" matInput name="position" [(ngModel)]="competence"
                                    placeholder="Ajouter une compétence">

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">

                    <div>

                        <h1 class="section_title">Mes expériences professionnelles</h1>
                        <div class="infos col-lg-12">
                            <p *ngIf="!cv || !cv.experiences || cv.experiences.length == 0"><i>Aucune expérience
                                    ajoutée</i></p>
                            <div *ngIf="cv">
                                <div *ngFor="let experience of cv.experiences; let i = index;">
                                    <img src="assets/imgs/ic-close.png" style="float: right"
                                        (click)="deleteExperience(experience.id)">
                                    <h1>{{ experience.position }}</h1>
                                    <h2 style="margin-bottom: 0">{{ experience.company }}</h2>
                                    <span
                                        style="color: gray; margin-top: 0; font-size: 10px;">{{ experience.start_date | date: 'dd/MM/yyyy' }}
                                        - {{ experience.end_date | date: 'dd/MM/yyyy'}}</span>
                                    <p style="margin-top: 3%">{{ experience.description }}</p>
                                    <hr *ngIf="i != cv.experiences.length - 1">
                                </div>
                            </div>



                            <div [ngClass]="display_form ? 'add_exp_visible' : 'add_exp'">
                                <hr>
                                <h1>Ajouter une expérience</h1>
                                <div class="form">

                                    <mat-form-field style="width: 20rem">
                                        <input matInput name="position" [(ngModel)]="experience.position">
                                        <mat-placeholder class="placeholder">Position</mat-placeholder>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field style="width: 20rem">
                                        <input matInput name="company" [(ngModel)]="experience.company">
                                        <mat-placeholder class="placeholder">Nom de l'entreprise</mat-placeholder>
                                    </mat-form-field>
                                    <br>


                                    <mat-form-field>
                                        <input name="start_date_experience" matInput
                                            [matDatepicker]="start_date_experience" placeholder="Date de début" required
                                            [(ngModel)]="experience.start_date">
                                        <mat-datepicker-toggle matSuffix [for]="start_date_experience">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #start_date_experience></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field style="margin-left: 5%;">
                                        <input name="end_date_experience" matInput [matDatepicker]="end_date_experience"
                                            placeholder="Date de fin" required [(ngModel)]="experience.end_date">
                                        <mat-datepicker-toggle matSuffix [for]="end_date_experience">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #end_date_experience></mat-datepicker>
                                    </mat-form-field>
                                    <br>

                                    <mat-form-field style="width: 30rem">
                                        <textarea rows="10" colds="500" matInput name="description_experience"
                                            [(ngModel)]="experience.description"></textarea>
                                        <mat-placeholder class="placeholder">Description</mat-placeholder>
                                    </mat-form-field>

                                </div>
                            </div>



                        </div>
                        <div style="text-align: center;">
                            <button mat-button class="connect_button" (click)="addExperience()">+ Ajouter une
                                expérience</button>
                        </div>
                    </div>

                    <div>

                        <h1 class="section_title">Mes formations</h1>
                        <div *ngIf="cv && cv != null" class="infos col-lg-12">
                            <p *ngIf="!cv || !cv.formations || cv.formations.length == 0"><i>Aucune formation
                                    ajoutée</i></p>
                            <div *ngIf="cv.formations && cv.formations.length != 0">

                                <div *ngFor="let formation of cv.formations; let i = index;">
                                    <img src="assets/imgs/ic-close.png" style="float: right"
                                        (click)="deleteFormation(formation.id)">
                                    <h1>{{ formation.title }}</h1>
                                    <h2 style="margin-bottom: 0;">{{ formation.school }}</h2>
                                    <span
                                        style="color: gray; margin-top: 0; font-size: 10px;">{{ formation.start_date | date: 'dd/MM/yyyy' }}
                                        - {{ formation.end_date | date: 'dd/MM/yyyy'}}</span>
                                    <p style="margin-top: 3%">{{ formation.description }}</p>
                                    <hr *ngIf="i != cv.formations.length - 1">
                                </div>
                            </div>


                            <div *ngIf="display_form_formation">
                                <hr>
                                <h1>Ajouter une formation</h1>
                                <div class="form">

                                    <mat-form-field style="width: 20rem">
                                        <input matInput name="formation_title" [(ngModel)]="formation.title">
                                        <mat-placeholder class="placeholder">Formation</mat-placeholder>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field style="width: 20rem">
                                        <input matInput name="formation_school" [(ngModel)]="formation.school">
                                        <mat-placeholder class="placeholder">Nom de l'école</mat-placeholder>
                                    </mat-form-field>
                                    <br>


                                    <mat-form-field>
                                        <input name="start_date" matInput [matDatepicker]="start_date"
                                            placeholder="Date de début" required [(ngModel)]="formation.start_date">
                                        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                                        <mat-datepicker #start_date></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field style="margin-left: 5%;">
                                        <input name="end_date" matInput [matDatepicker]="end_date"
                                            placeholder="Date de fin" required [(ngModel)]="formation.end_date">
                                        <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
                                        <mat-datepicker #end_date></mat-datepicker>
                                    </mat-form-field>


                                    <br>
                                    <mat-form-field style="width: 30rem">
                                        <textarea rows="10" colds="500" name="fomation.description" matInput
                                            [(ngModel)]="formation.description"></textarea>
                                        <mat-placeholder class="placeholder">Description</mat-placeholder>
                                    </mat-form-field>

                                </div>
                            </div>

                        </div>


                        <div style="text-align: center;">
                            <button mat-button class="connect_button" (click)="displayFormFormation()">+ Ajouter une
                                formation</button>
                        </div>
                    </div>
                </div>

            </div>


        </mat-tab>
        <mat-tab label="Paramètres">
            <h1 class="section_title">Mes paramètres</h1>
            <p>...</p>
        </mat-tab>
    </mat-tab-group>
</div>