<div class="main_container">
    <h1 class="title">
        Mon profil
    </h1>
    <p class="subtitle">Personnaliser mon CV et mes paramètres</p>

    <mat-tab-group style="margin-top: 3%;">
        <mat-tab label="Mon CV">
            <div>
                <h1 class="section_title">Mes informations</h1>
                <div class="row">
                    <div class="infos col-lg-2">

                    </div>
                    <div class="infos col-lg-6" style="margin-left: 3%">

                    </div>
                </div>
            </div>

            <div>

                <h1 class="section_title">Mes expériences professionnelles</h1>
                <div class="infos col-lg-12">
                    <h1>Software engineer</h1>
                    <h2>Informatique company</h2>
                    <p style="margin-top: 3%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat,
                        nisi dignissim viverra
                        gravida, nunc nulla tincidunt velit, rhoncus dignissim nisi erat ut arcu. Etiam vel ante nec
                        eros hendrerit egestas. Nunc vel neque nulla. Sed porttitor suscipit hendrerit. Nam sit amet
                        auctor nulla. Cras malesuada quam nec consectetur luctus. Duis rhoncus diam in dignissim dictum.
                        Duis suscipit dolor vel nisl tristique placerat.</p>
                </div>
                <div class="infos col-lg-12">
                    <h1>Developer</h1>
                    <h2>Informatique company</h2>
                    <p style="margin-top: 3%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat,
                        nisi dignissim viverra
                        gravida, nunc nulla tincidunt velit, rhoncus dignissim nisi erat ut arcu. Etiam vel ante nec
                        eros hendrerit egestas. Nunc vel neque nulla. Sed porttitor suscipit hendrerit. Nam sit amet
                        auctor nulla. Cras malesuada quam nec consectetur luctus. Duis rhoncus diam in dignissim dictum.
                        Duis suscipit dolor vel nisl tristique placerat.</p>
                </div>
                <div style="text-align: center;">
                    <button mat-button class="connect_button" (click)="connect()">+ Ajouter une expérience</button>
                </div>
            </div>

            <div>

                <h1 class="section_title">Ma formation</h1>
                <div class="infos col-lg-12">
                        <h1>Master degree in Computer Science</h1>
                        <h2>EPITA</h2>
                        <p style="margin-top: 3%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat,
                            nisi dignissim viverra
                            gravida, nunc nulla tincidunt velit, rhoncus dignissim nisi erat ut arcu. Etiam vel ante nec
                            eros hendrerit egestas. Nunc vel neque nulla. Sed porttitor suscipit hendrerit. Nam sit amet
                            auctor nulla. Cras malesuada quam nec consectetur luctus. Duis rhoncus diam in dignissim dictum.
                            Duis suscipit dolor vel nisl tristique placerat.</p>
                </div>

                <div style="text-align: center;">
                    <button mat-button class="connect_button" (click)="connect()">+ Ajouter une formation</button>
                </div>
            </div>

            <div>

                <h1 class="section_title">Mes compétences</h1>

            </div>


        </mat-tab>
        <mat-tab label="Paramètres">
            <h1 class="section_title">Mes paramètres</h1>
            <p>...</p>
        </mat-tab>
    </mat-tab-group>
</div>