<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="main_container">
    <h1 class="title">
        Offres d'emploi
    </h1>
    <p class="subtitle">Découvrir les offres d'emploi disponibles</p>

    <mat-tab-group style="margin-top: 3%;">
        <mat-tab label="Les Offres">
            <p> </p>   
            <div class="infos col-lg-12" *ngFor="let offre of offres">
                    <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{offre.title}}</h4>
                                <div class="description">
                                    <p class="card-text">{{offre.description}}</p>
                                </div>
                                <button (click)="sendtoProfil(offre)" class="btn btn-link">En savoir plus</button>
                            </div>
                        </div>
                </div> 
            
        </mat-tab>
    </mat-tab-group>
</div>