.main_container {
  padding: 2%;
  background: #f9fcfc;
  padding-top: 0 !important;
}

.title {
  font-family: "locator-regular";
  margin-bottom: 0;
  margin-top: 5vh;
  font-size: 20px;
  color: #e50051;
}

.subtitle {
  color: gray;
  font-family: "locator-regular";
  margin-top: 0;
  font-size: 16px;
}
