.main_container {
    padding: 2%;
    background: #f9fcfc;
    padding-top: 0 !important;
}
  
.description {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}

.title {
  font-family: "locator-regular";
  margin-bottom: 0;
  margin-top: 5vh;
  font-size: 20px;
  color: #e50051;
}

.subtitle {
  color: gray;
  font-family: "locator-regular";
  margin-top: 0;
  font-size: 16px;
}

.offre_detail {
  background-color: white;
  border-radius: 8px;
  height: auto;
  min-height: 100%;
  font-family: "locator-regular";
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
  margin-top: 3%;
  padding: 2%;
  
  h1 {
      margin-top: 20px;
      font-size: 20px;
      color: #e50051;
  }
  
  h2 {
      margin-top: 16px;
      font-size: 16px;
      color: gray;
  }
  
  .competence {
  min-width: 60px;
  background: #e50051;
  color: white;
  display: inline-block;
  text-align: center;
  font-family: 'locator-regular';
  border-radius: 20px;
  padding: 5px;
  margin-left: 2%;
  margin-top: 5px;

    p {
      margin: 0;
    }
  }

  button {
    background: #e50051;
    color: white;
    display: block;
    font-family: 'locator-regular';
    text-align: center;
    border-radius: 20px;
    border-color: transparent;
    margin: auto;
  } 
}