<div class="container">

    <div>


        <div class="news">

            <div class="logo_container">
                <img class="logo" src="assets/logo.png">
            </div>
            <h1 class="title">
                Jobeet
            </h1>
            <p class="subtitle"></p>

            <div class="inputs">
                <mat-form-field>
                    <input matInput placeholder="Adresse mail" [formControl]="mailFormControl"
                        [errorStateMatcher]="matcher">

                    <mat-error *ngIf="mailFormControl.hasError('required')">
                        Adresse mail <strong>requise</strong>
                    </mat-error>


                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Mot de passe" [formControl]="passwordFormControl"
                        [errorStateMatcher]="matcher" type="password">

                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Mot de passe <strong>requis</strong>
                    </mat-error>


                </mat-form-field>

                <button mat-button class="connect_button" (click)="connect()">Connexion</button>
                <mat-spinner class="spinner" *ngIf="displaySpinner"></mat-spinner>
            </div>

        </div>
    </div>

</div>