.main_container {
  padding: 2%;
  background: #f9fcfc;
  padding-top: 0 !important;
}

.title {
  font-family: "locator-regular";
  margin-bottom: 0;
  margin-top: 5vh;
  font-size: 20px;
  color: #e50051;
}

.subtitle {
  color: gray;
  font-family: "locator-regular";
  margin-top: 0;
  font-size: 16px;
}

.mat-tab-label {
  font-family: "locator-regular";
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #e50051;
}


.entreprise {
  height: auto;
  .picture3 {
    height: auto;
    background: #f9fcfc;
    width: 100%;
    margin-top: 3%;
    border-radius: 8px;
    .pictures {
      width: 100%;
      box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
      background-position: center;
      border-radius: 8px;
      background-size: contain;
      background-repeat: no-repeat;
      height: 80%;
    }

  .mat-raised-button {
    font-family: "locator-regular";
    background: #e50051;
    color: white;
    text-align: center;
    display: block;
    margin-top: 5% !important;
    width: 80%;
    min-width: 10rem; 
    margin: auto;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
}

  .informations {
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
    width: 100%;
    border-radius: 8px;
    margin-top: 3%;
    margin-left: 1%;
    padding: 3%;
  }

  h1 {
    color: #e50051;
    font-family: "locator-regular";
    font-size: 20px;
  }

  h2 {
    font-family: "locator-regular";
    color: gray;
    font-size: 15px;
  }

  p {
    font-family: "locator-regular";
    color: black;
  }
}



.mat-focused .mat-form-field-label {
  color: #e50051;
}
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: #e50051;
}

.mat-focused .placeholder {
  color: #e50051;
}

.company {
    height:11rem;
    width: 10rem;
    display: inline-block;
    margin-left: 3%;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
    .picture2 {
        height:9rem;
        width: 10rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    p {
        color: gray;
        font-size: 16px;
        font-family: "locator-regular";
        text-align: center;
        font-weight: 800;
    }
}

.connect_button {
  font-family: "locator-regular";
  background: #e50051;
  color: white;
  text-align: center;
  display: block;
  margin-top: 3% !important;
  width: auto;
  min-width: 10rem; 
  margin: auto;
  border-top-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.description {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
  }

.offre1 {
  background-color: white;
  border-radius: 8px;
  height: auto;
  min-height: 100%;
  font-family: "locator-regular";
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
  margin-top: 3%;
  padding: 2%;
  
  h1 {
      font-size: 20px;
      color: #e50051;
  }
  
  p {
      font-size: 16px;
      color: gray;
      padding-bottom: 2%;
  }
  
  .competence {
  min-width: 60px;
  background: #e50051;
  color: white;
  display: inline-block;
  text-align: center;
  font-family: 'locator-regular';
  border-radius: 20px;
  padding: 5px;
  margin-left: 2%;
  margin-top: 5px;

    p {
      margin: 0;
    }
  }

  button {
    background: #e50051;
    color: white;
    display: block;
    width: auto;
    font-family: 'locator-regular';
    text-align: center;
    border-radius: 20px;
    border-color: transparent;
    margin: auto;
    margin-top: 1%;

  }
}