.main_container {
  padding: 2%;
  background: #f9fcfc;
  padding-top: 0 !important;
}

.title {
  font-family: "locator-regular";
  margin-bottom: 0;
  margin-top: 5vh;
  font-size: 20px;
  color: #e50051;
}

.subtitle {
  color: gray;
  font-family: "locator-regular";
  margin-top: 0;
  font-size: 16px;
}

.match {
  background-color: white;
  border-radius: 8px;
  height: 8rem;
  font-family: "locator-regular";
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
  margin-top: 3%;
  padding: 1%;
  h1 {
      font-size: 20px;
      color: #e50051;
  }
  h2 {
      font-size: 16px;
      color: grey;
  }

  .validate {
    background: #e50051;
    width: 6rem;
    color: white;
    display: block;
    font-family: 'locator-regular';
    text-align: center;
    border-radius: 20px;
    border-color: #e50051;
    margin: auto;
  }

  .cancel {
    background: white;
    color: #e50051;
    width: 6rem;
    display: block;
    font-family: 'locator-regular';
    text-align: center;
    border-radius: 20px;
    border-color: #e50051;
    margin: auto;
  }

}