<div class="main_container">
    <h1 class="title">
        Mes matchs
    </h1>
    <p class="subtitle">Consulter l'ensemble de mes matchs</p>

    <div *ngIf="user && user.role == 1">
        <div *ngFor="let match of matchs">
            <div class="row match col-lg-12">
                <div class="match-info col-lg-9">
                    <h1>Id du candidat</h1>
                    <h2>{{ match.id_user }}</h2>
                    <h1>Id de l'offre</h1>
                    <h2>{{ match.id_offre }}</h2>
                </div>
                <div class="row buttons col-lg-3">
                    <button class="validate" (click)="acceptMatch(match)">
                        Accepter
                    </button>
                    <button class="cancel" (click)="deleteMatch(match.id)">
                        Refuser
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="user && user.role == 0">
        <div *ngFor="let match of matchs">
            <div class="row match col-lg-12">
                <div class="match-info col-lg-12">
                    <h1>Nom de l'entreprise</h1>
                    <h2>Epita</h2>
                    <h1>Id de l'offre</h1>
                    <h2>Offre : 08101970</h2>
                </div>
            </div>
        </div>
    </div>

</div>