<mat-sidenav-container class="sidenav-container">
    <mat-sidenav  *ngIf="show_side" #drawer class="sidenav" fixedInViewport="true" [mode]="'side'" [opened]="true">
        <mat-toolbar style="height: 8rem;">
            <mat-toolbar-row style="height: 8rem;">
                <div class="picture" [style.background-image]="getBackground(user.picture_path)">

                </div>
                <div>
                    <p class="name" *ngIf="user">{{ user.name }} {{ user.last_name }}</p>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/" [routerLinkActive]="['is-active']" style="font-family: 'locator-regular'">
                <mat-icon style="color: #e50051">home</mat-icon>Dashboard
            </a>
            <a mat-list-item routerLink="/offres" style="font-family: 'locator-regular'" *ngIf="user.role == 0">
                <mat-icon style="color: #e50051">date_range</mat-icon>Offres d'emploi
            </a>
            <a mat-list-item routerLink="/mesoffres" style="font-family: 'locator-regular'" *ngIf="user.role == 1">
                <mat-icon style="color: #e50051">date_range</mat-icon>Mes offres d'emploi
            </a>
            <a mat-list-item routerLink="/entreprises" style="font-family: 'locator-regular'">
                <mat-icon style="color: #e50051">apartment</mat-icon>Entreprises
            </a>
            <a mat-list-item routerLink="/monentreprise" style="font-family: 'locator-regular'" *ngIf="user.role == 1">
                <mat-icon style="color: #e50051">apartment</mat-icon>Mon entreprise
            </a>
            <a mat-list-item routerLink="/chat" style="font-family: 'locator-regular'">
                <mat-icon style="color: #e50051">forum</mat-icon>Messagerie
            </a>
            <a mat-list-item routerLink="/matchs" style="font-family: 'locator-regular'">
                <mat-icon style="color: #e50051">favorite</mat-icon>Mes matchs
            </a>
            <a mat-list-item routerLink="/profil" style="font-family: 'locator-regular'">
                <mat-icon style="color: #e50051">person_pin</mat-icon>Mon profil
            </a>
            <a mat-list-item routerLink="/profil" style="font-family: 'locator-regular'" *ngIf="user.role == 2">
                <mat-icon style="color: #e50051">memory</mat-icon>Administration
            </a>
            <a mat-list-item routerLink="/search" style="font-family: 'locator-regular'">
                <mat-icon style="color: #e50051">search</mat-icon>Effectuer une recherche
            </a>
            <a mat-list-item routerLink="#" style="position: absolute; bottom: 0; font-family: 'locator-regular'" (click)="logout()">
                <mat-icon style="color: #e50051">arrow_forward_ios</mat-icon>Se déconnecter
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>