/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0 !important;
}

@font-face {
  font-family: "locator-regular";
  src: url("/assets/fonts/locator-regular.otf") format("truetype");
}
