<div class="main_container">
    <h1 class="title">
        Dashboard
    </h1>
    <p class="subtitle">Mes dernières actualités</p>

    <div class="row" style="margin-top: 3.5rem">
        <div class="col-lg-2">
            <div class="card">
                <h1 class="number"> 30</h1>
                <p>nouvelles offres</p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <h1 class="number"> 2</h1>
                <p>nouveaux messages</p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">

            </div>
        </div>
    </div>


    <p class="subtitle" style="margin-top: 3%;">Top candidat pour ces annonces</p>


</div>